<app-tab-view [tabs]="tabs" [rounded]="true" titleProperty="title">
  <ng-template #content>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (property of propertyPublicStore.filteredProperties(); track $index) {
        <app-property-grid-card
          [isPublic]="true"
          [imageUrl]="property.images[0]?.imageUrl ?? ''"
          [cardTitle]="property.name"
          gradientStartPosition="50%"
          gradientEndPosition="80%"
          darkenPercentage="60%"
          [property]="property"
        >
        </app-property-grid-card>
      }
    </div>
  </ng-template>
</app-tab-view>
