<div class="flex flex-row w-full gap-8">
  <div class="w-full">
    <p-galleria
      #galleria
      [value]="images()"
      [circular]="true"
      [showItemNavigators]="fullscreen()"
      [showItemNavigatorsOnHover]="true"
    >
      <!-- Main image -->
      <ng-template #item let-item>
        <div class="relative w-full">
          <div class="flex flex-row w-full absolute gap-2">
            @if(item?.tags?.length > 0) {
              <app-tag
                class="ml-4 mt-4"
                [size]="'lg'"
                [imageUrl]="item.imageUrl"
                [nameColor]="'#ffffff'"
                [name]=" (item?.tags[0] ?? '') | localizeImageTag"
                [backgroundOpacity]="0.4">
              </app-tag>
            }

            <p-button
              class="ml-auto mr-4 mt-4"
              icon="pi pi-expand"
              severity="secondary"
              rounded
              (onClick)="toggleFullscreen()"
            />
          </div>

          <img
            [src]="item?.imageUrl"
            [default]="item?.fallbackUrl"
            [ngClass]="!fullscreen() ? 'max-h-[25rem]' : ''"
            class="w-full object-cover block"
          />

        </div>
      </ng-template>
      <!-- Thumbnails -->
      <ng-template #thumbnail let-item>
        <img
          [src]="item.thumbnailImageUrl"
          [default]="item.fallbackUrl"
          class="w-full max-h-[5rem] object-cover"
        />
      </ng-template>
    </p-galleria>
  </div>


  <div class="w-100 h-full">
    <p-card
      class="h-full"
      styleClass="rounded-lg! border-surface!!">
      <div class="flex flex-col gap-2 mb-4">
        <label for="description" class="font-semibold text-l">{{ 'General.Fields.Description' | translate }}</label>
        <p id="description" class="border-surface! opacity-60" pSize="small">{{ property()?.description }} </p>
      </div>

        <div class="flex flex-col gap-2">
          <label for="tags" class="font-semibold text-l">{{ 'Settings.Tags.Tags' | translate }}</label>
          <div id="tags">
            @for (tag of property()?.tags ?? []; track $index) {
              <app-tag class="mr-2" [name]="tag.name" [color]="tag.color"></app-tag>
            }
          </div>
        </div>
    </p-card>
  </div>
</div>
